

NET "LED[0]" LOC = P156;
NET "LED[1]" LOC = P155;
NET "LED[2]" LOC = P154;
NET "LED[3]" LOC = P152;

NET "Uart_RXD" LOC = P96;
NET "Uart_TXD" LOC = P97;
NET "clk" LOC = P79;

NET "Push_SW0" LOC = P86;
NET "Push_SW1" LOC = P85;
NET "Push_SW2" LOC = P81;
NET "Push_SW3" LOC = P78;

NET "DIP_0" LOC = P74;
NET "DIP_1" LOC = P72;
NET "DIP_2" LOC = P71;
NET "DIP_3" LOC = P68;





//EXPC_14
NET "PowerDown00" LOC = P150;
//EXPC_12
NET "rsdio00" 		LOC = P148;
//EXPC_10
NET "rcsbar00" 	LOC = P146;
//EXPC_8
NET "ResetDDS0" 	LOC = P143;
//EXPC_6
NET "rsclk0" 		LOC = P140;
//EXPC_4
NET "PowerDown01" LOC = P138;
//EXPC_2
NET "rsdio01" 		LOC = P135;
//EXPC_0
NET "rcsbar01" 	LOC = P132;




//EXPB_0
NET "ADC__BCS_bar" 	LOC = P106;
//EXPB_1
NET "ADC__BDn2" 	LOC = P107;
//EXPB_2
NET "ADC__BDn1" 	LOC = P108;
//EXPB_3
NET "ADC__DBUSY_bar" 	LOC = P109;
//EXPB_4
NET "ADC__BD0" 	LOC = P111;
//EXPB_5
NET "ADC__BD1" 	LOC = P113;
//EXPB_6
NET "ADC__BD2" 	LOC = P114;
//EXPB_7
NET "ADC__BD3" 	LOC = P115;
//EXPB_8
NET "ADC__BD4" 	LOC = P116;
//EXPB_9
NET "ADC__BD5" 	LOC = P117;
//EXPB_10
NET "ADC__BD6" 	LOC = P119;
//EXPB_11
NET "ADC__BD7" 	LOC = P120;
//EXPB_12
NET "ADC__BD8" 	LOC = P122;
//EXPB_13
NET "ADC__BD9" 	LOC = P123;
//EXPB_14
NET "ADC__BD10" 	LOC = P124;
//EXPB_15
NET "ADC__BD11" 	LOC = P125;
//EXPB_16
NET "ADC__BD12" 	LOC = P126;
//EXPB_17
NET "ADC__BD13" 	LOC = P128;
//EXPB_18
NET "ADC__BD14" 	LOC = P130;
//EXPB_19
NET "ADC__BD15" 	LOC = P131;

	
	

#NET "PROBE[0]" LOC = P106; //EXPB_0
#NET "PROBE[1]" LOC = P107; //EXPB_1
#NET "PROBE[2]" LOC = P108; //EXPB_2
#NET "PROBE[3]" LOC = P109; //EXPB_3


