//! **************************************************************************
// Written by: Map P.20131013 on Thu Dec 05 14:29:25 2019
//! **************************************************************************

SCHEMATIC START;
COMP "ADC__DBUSY_bar" LOCATE = SITE "P109" LEVEL 1;
COMP "clk" LOCATE = SITE "P79" LEVEL 1;
COMP "DIP_0" LOCATE = SITE "P74" LEVEL 1;
COMP "DIP_1" LOCATE = SITE "P72" LEVEL 1;
COMP "DIP_2" LOCATE = SITE "P71" LEVEL 1;
COMP "DIP_3" LOCATE = SITE "P68" LEVEL 1;
COMP "ADC__BCS_bar" LOCATE = SITE "P106" LEVEL 1;
COMP "Uart_RXD" LOCATE = SITE "P96" LEVEL 1;
COMP "Uart_TXD" LOCATE = SITE "P97" LEVEL 1;
COMP "rsdio00" LOCATE = SITE "P148" LEVEL 1;
COMP "rsdio01" LOCATE = SITE "P135" LEVEL 1;
COMP "Push_SW0" LOCATE = SITE "P86" LEVEL 1;
COMP "Push_SW1" LOCATE = SITE "P85" LEVEL 1;
COMP "Push_SW2" LOCATE = SITE "P81" LEVEL 1;
COMP "Push_SW3" LOCATE = SITE "P78" LEVEL 1;
COMP "LED<0>" LOCATE = SITE "P156" LEVEL 1;
COMP "LED<1>" LOCATE = SITE "P155" LEVEL 1;
COMP "LED<2>" LOCATE = SITE "P154" LEVEL 1;
COMP "LED<3>" LOCATE = SITE "P152" LEVEL 1;
COMP "PowerDown00" LOCATE = SITE "P150" LEVEL 1;
COMP "PowerDown01" LOCATE = SITE "P138" LEVEL 1;
COMP "ADC__BD10" LOCATE = SITE "P124" LEVEL 1;
COMP "ADC__BD11" LOCATE = SITE "P125" LEVEL 1;
COMP "ADC__BD12" LOCATE = SITE "P126" LEVEL 1;
COMP "ADC__BD13" LOCATE = SITE "P128" LEVEL 1;
COMP "ADC__BD14" LOCATE = SITE "P130" LEVEL 1;
COMP "ADC__BD15" LOCATE = SITE "P131" LEVEL 1;
COMP "ADC__BDn1" LOCATE = SITE "P108" LEVEL 1;
COMP "ADC__BDn2" LOCATE = SITE "P107" LEVEL 1;
COMP "rsclk0" LOCATE = SITE "P140" LEVEL 1;
COMP "ResetDDS0" LOCATE = SITE "P143" LEVEL 1;
COMP "ADC__BD0" LOCATE = SITE "P111" LEVEL 1;
COMP "rcsbar00" LOCATE = SITE "P146" LEVEL 1;
COMP "ADC__BD1" LOCATE = SITE "P113" LEVEL 1;
COMP "rcsbar01" LOCATE = SITE "P132" LEVEL 1;
COMP "ADC__BD2" LOCATE = SITE "P114" LEVEL 1;
COMP "ADC__BD3" LOCATE = SITE "P115" LEVEL 1;
COMP "ADC__BD4" LOCATE = SITE "P116" LEVEL 1;
COMP "ADC__BD5" LOCATE = SITE "P117" LEVEL 1;
COMP "ADC__BD6" LOCATE = SITE "P119" LEVEL 1;
COMP "ADC__BD7" LOCATE = SITE "P120" LEVEL 1;
COMP "ADC__BD8" LOCATE = SITE "P122" LEVEL 1;
COMP "ADC__BD9" LOCATE = SITE "P123" LEVEL 1;
NET "clk_BUFGP/IBUFG" BEL "clk_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

